/***************************************
  样式表组织方式:
                    布局(layout)
                    样式(style)
                    动画(animation)
 **************************************/
@charset "utf-8";
html {
  height: 100%;
}
body {
    font-family: "Microsoft Yahei", sans-serif;
    background-color: #fafad2;
    background-image: url("../images/GoogleNowWallpapers/AustinNight.png");
    background-position: center center;
    height: 100%;
}

#header {
    position: relative;
    top: 100px;
    text-align: center;

    font-family: "LTCircular"; 
    font-size: 68px;
    font-weight: bold;
    text-shadow: 0px 2px 13px black;
    
    animation: all 1s ease-out;
    -o-animation: all 1s ease-out;
    -moz-animation: all 1s ease-out;
    -webkit-animation: all 1s ease-out;
    
}
#header > a {
    color: #fff;
    text-decoration: none;

    transition: color 0.8s linear, text-shadow 0.8s ease-in-out;
    -o-transition: color 0.8s linear, text-shadow 0.8s ease-in-out;
    -moz-transition: color 0.8s linear, text-shadow 0.8s ease-in-out;
    -webkit-transition: color 0.8s linear, text-shadow 0.8s ease-in-out; 
}
#header > a:hover {
    text-shadow: 1px 1px 3px #969696;
}

#Fibonacci {
    position: relative;
    top: 180px; 
    text-align: center;
}
#Fibonacci > a > img{
    height: 150px;
    width: 150px;
    margin: auto;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 2px 3px rgba(225, 225, 225, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 2px 3px rgba(225, 225, 225, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);

    transition: all 0.8s ease-out;
    -o-transition: all 0.8 ease-out;/* Opera */
    -moz-transition: all 0.8s ease-out;/* Firefox 4 */
    -webkit-transition: all 0.8s ease-out;/* Safari and Chrome */
}
#Fibonacci > a:hover > img{
    width: 250px;
    height: 250px;

    transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
}

#navigator {
    position: relative;
    top: 280px;
}
#navigator > table {
    height: 74px; 
    width: 619px;
    margin: auto;
    text-align: center;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.2);

    border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
}
tr {
    margin: 0;
    border: 0;
    overflow: hidden;

    transition: height 0.5s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: height 0.5s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: height 0.5s cubic-bezier(0.4, 0, 1, 1);  
    -webkit-transition: height 0.5s cubic-bezier(0.4, 0, 1, 1); 
}
tr:hover {
    height: 128px;
}
td {
    display: inline-block;

    color: #969696;
    width: 150px;
    padding: 0;
    height: 70px;
    font-size: 32px;
    font-family: "LTCircular";
    line-height: 64px;
    overflow: hidden;

     border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;

    transition: height 0.6s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: height 0.6s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: height 0.6s cubic-bezier(0.4, 0, 1, 1);  
    -webkit-transition: height 0.6s cubic-bezier(0.4, 0, 1, 1); 
}
td:hover {
    height: 128px;
    margin-top: 0px;
    background: rgba(3, 169, 224, 0.4);
    
    transition: background 0.5s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: background 0.5s cubic-bezier(0.4, 0, 1, 1);
    -moz-transition: background 0.5s cubic-bezier(0.4, 0, 1, 1);
    -webkit-transition: background 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.nav {
    color: #fff;
    text-decoration: none;

    transition: text-shadow 0.4s ease-in-out;
    -o-transition: text-shadow 0.4s ease-in-out;
    -moz-transition: text-shadow 0.4s ease-in-out;
    -webkit-transition: text-shadow 0.4s ease-in-out;
}
.nav:hover {
    text-shadow: 0px 2px 13px black;
}
span {
    font-family: "YueYuan";
}	
